<ion-header>
  <ion-toolbar>
    <ion-title>Detail Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let data of isiData | async; let i=index;">
    <section *ngIf="data.judul == judul">
      <ion-item>
        <ion-label>
          <h1>{{data.judul}}</h1>
          <h3>{{data.tanggal}}</h3>
          <h3>{{data.nilai}}</h3>
          <p>{{data.isi}}</p>
        </ion-label>
      </ion-item>
    </section>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let iFoto of urlImageStorage; index as position; let i = index">
        <ion-img [src]="iFoto"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
